* {
  box-sizing: border-box;
}

html{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    //background: url("https://pixabay.com/get/5ee6d0434353b108feda8460c62e347c1337dce54e507440712f78d09f45c7_1920.jpg");
    background: url("/images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .textColor{
    color: white;
}
