
.main_text {
    margin-top: 15%;
} 

.menu_title {
    font-size: 2em;
} 

.main_paragraph {
    font-size: 1.8em;
} 

.home__button--calculate {
    display: inline-block;
      font-size: 20px;
      line-height: 30px;
      font-weight: 600;
      color: #fff;
      text-transform: uppercase;
      background-color: #fed20c;
      border-radius: 30px;
      padding: 12px 35px;
      margin-top: 30px;
} 

.home__link--calculate {
    text-decoration: none;
    color: white;
} 

.sub_paragraph {
    font-size: 1.2em;
} 