.flexboxproductpage{
    padding-top: 10rem;
    padding-left: 15rem;
    padding-right: 15rem;
    display: flex;
    flex-direction: column;
    color: white;
    //border: white 1px solid;

}
.flexboxproducts{
    display: flex;
    padding-left: 5rem;
    
}

.itemproducts{
  padding: 0rem 5rem;  
    align-items: center;
    //margin: 0rem 5rem;
    border: white 1px solid;
    margin: 5px;
    width: 25rem;
    //height: 20rem;
    
    
}

.title{
    text-align: center;
}
.productsbutton{
    text-decoration: none;
}