.container-register {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.wrap-register {
  background: rgba($color: white, $alpha: 0.5);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 80px 200px 80px 200px;
}


.register-form {
  width: 290px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
}

.register-form-title {
  font-size: 25px;
  font-weight: bold;
  color: #01415f;
  line-height: 0;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 54px;
}

.validate-input {
  position: relative;
}

.wrap-input {
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.register-input {
  font-size: 15px;
  line-height: 1.5;
  color: #01415f;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 25px;
}

.form-check-label {
  font-size: 15px;
}

.form-register-button {
  width: 100%;
}

.register-button {
  margin-top: 15px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background-color: #e5ab09;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0s;
}

.register-button:hover {
  background-color: #01415f;
  transition: 1s; 
}
