* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background: url("/images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flexbox {
  padding-top: 8rem;
  padding-left: 5rem;
  padding-right: 3rem;
  display: flex;
  margin-bottom: 8rem;
}

.item {
  display: flex;
  flex-direction: column;
  border: 2rem;
  margin: 0rem 2rem;
  max-width: 20rem;
}

.founders {
  height: 20rem;
  width: 20rem;
}

.text {
  display: flex;
}

.textColor {
  color: white;
}

img {
  border-radius: 50%;
}

.flexboxaccounts {
  padding-top: 10rem;
  padding-left: 5rem;
  padding-right: 3rem;
  display: flex;
}

.itemaccounts {
  display: flex;
  flex-direction: column;
  border: 20rem;
  margin: 0rem 10rem;
  max-width: 30rem;
}

.forgottenPassword:hover {
  color: red;
}

.forgottenPassword {
  color: white;
}

.flexboxforgottenpassword {
  padding-top: 10rem;
  padding-left: 30rem;
  padding-right: 30rem;
  display: flex;
}

.passwordpage {
  color: white;
}

.flexboxproductpage {
  padding-top: 10rem;
  padding-left: 15rem;
  padding-right: 15rem;
  display: flex;
  flex-direction: column;
  color: white;
}

.flexboxproducts {
  display: flex;
  padding-left: 5rem;
}

.itemproducts {
  padding: 0rem 5rem;
  align-items: center;
  border: white 1px solid;
  margin: 5px;
  width: 25rem;
}

.title {
  text-align: center;
}

.productsbutton {
  text-decoration: none;
}

.flexboxmortgagecalculator {
  padding-top: 5rem;
  padding-left: 15rem;
  padding-right: 15rem;
  display: flex;
  flex-direction: column;
  color: white;
}

.flexboxproducts {
  display: flex;
  padding-left: 5rem;
}

.mortgagecalculatorbutton {
  text-align: center;
}

.flexboxmortgageform {
  display: flex;
  padding-left: 5rem;
  flex-direction: column;
}

.mortcalcinput {
  max-width: 15rem;
}

.main_layout {
  min-height: 100vh;
  display: flex;
  margin: 0;
  color: white;
  opacity: 1;
}

.aside--closed {
  background-color: #01415f;
  color: white;
  display: flex;
  flex: 0 0 auto;
  width: 50px;
  transition: 1000ms;
  overflow: hidden;
  padding: 0;
  min-height: 100%;
  cursor: pointer;
}

.aside--open {
  width: 300px;
}

.homepage_main {
  padding: 4rem;
}

.icon {
  width: 100%;
  height: auto;
  padding: 8px;
}

.sidebar {
  flex: 0 0 50px;
}

.menu {
  flex: 0 0 250px;
}

.menu_title {
  font-size: 2em;
}

.menu ul {
  list-style-type: none;
  padding-left: 0;
  margin: 2rem;
  font-size: 0.8rem;
}

.menu li {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.menu_title {
  font-size: 4em;
}

.main_paragraph {
  font-size: 1.8em;
}

.sub_paragraph {
  font-size: 1.2em;
}

.main_text {
  margin-top: 15%;
}

.home__button--calculate {
  display: inline-block;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  background-color: #fed20c;
  border-radius: 30px;
  padding: 12px 35px;
  margin-top: 30px;
}

.sidebar_link {
  color: white;
  text-decoration: none;
}

.sidebar_link:hover {
  color: #fed20c;
}

.home__link--calculate {
  text-decoration: none;
  color: white;
}

.home__link--calculate:hover {
  color: #01415f;
}

footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  max-width: 100vw;
  color: black;
}
/*# sourceMappingURL=app.css.map*/